<%- include('./partials/global/header.ejs') -%>
<div class="container">
  <div class="row">
    <%- include('./partials/global/nav.ejs') -%>
    <%- include('./partials/data/main.ejs') -%>
    <%- include('./partials/data/transparency.ejs') -%>
    <%- include('./partials/supply/logistics.ejs') -%>
    <%- include('./partials/supply/carousel.ejs') -%>
    <%- include('./partials/landing/platform.ejs') -%>
    <%- include('./partials/global/contact.ejs') -%>

  </div>
</div>
<%- include('./partials/global/footer.ejs') -%>
