<%- include('./partials/global/header.ejs') -%>
<div class="container">
  <div class="row">
    <%- include('./partials/global/nav.ejs') -%>
    <%- include('./partials/landing/main.ejs') -%>
    <%- include('./partials/landing/expert.ejs') -%>
    <%- include('./partials/landing/dock.ejs') -%>
    <%- include('./partials/landing/learn.ejs') -%>
    <%- include('./partials/landing/platform.ejs') -%>
    <%- include('./partials/landing/leadership.ejs') -%>
  </div>
</div>
<%- include('./partials/global/footer.ejs') -%>
