<%- include('./partials/global/header.ejs') -%>
<div class="container">
  <div class="row">
   	<%- include('./partials/global/nav.ejs') -%>
    <%- include('./partials/lp/main.ejs') -%>
    <%- include('./partials/lp/simulation.ejs') -%>
    <%- include('./partials/lp/logistics.ejs') -%>
    <%- include('./partials/lp/carousel.ejs') -%>
    <%- include('./partials/global/contact.ejs') -%>
  </div>
</div>
<%- include('./partials/global/footer.ejs') -%>
