<%- include('./partials/global/header.ejs') -%>
<div class="container">
  <div class="row">
   	<%- include('./partials/global/nav.ejs') -%>
    <%- include('./partials/supply/main.ejs') -%>
    <%- include('./partials/supply/simulation.ejs') -%>
    <%- include('./partials/supply/logistics.ejs') -%>
    <%- include('./partials/supply/carousel.ejs') -%>
    <%- include('./partials/landing/platform.ejs') -%>
    <%- include('./partials/global/contact.ejs') -%>
  </div>
</div>
<%- include('./partials/global/footer.ejs') -%>
