<%- include('./partials/global/header.ejs') -%>
<div class="container">
  <div class="row">
   	<%- include('./partials/global/nav.ejs') -%>
    <%- include('./partials/meet/main.ejs') -%>
    <%- include('./partials/meet/video.ejs') -%>
    <%- include('./partials/meet/power.ejs') -%>
    <%- include('./partials/meet/carousel.ejs') -%>

    <%- include('./partials/global/contact.ejs') -%>
  </div>
</div>
<%- include('./partials/global/footer.ejs') -%>
